body {
  background-color: black;
  background-image:url("homepage.png");
  background-repeat:no-rpeat;
  background-size:cover;
}
.title {
  color: white;
  z-index:999;
  position:relative;
  text-align: center;
}



