body {
  background-color: black;
  background-image:url("homePage.png");
  background-repeat:no-rpeat;
  background-size:cover;
}
.title {
  color: white;
  z-index:999;
  position:relative;
}

